header{
    background: white;
    padding: 20px 0; 
}
.caixa{
    position: relative;
    width: 940px; /* largura padrao da web */
    margin: 0 auto;

}

.titulo-nome{
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    margin-top: 120px;
    margin-bottom: 20px;
    color:  #A020F0 ;
}

.projeto{
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    font-size: 18px;
    color: white;
    text-align: justify;
    background: linear-gradient(#A020F0 30%, #9370DB);
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

.chegada{
    margin-top: 20px;
}

.cliente{
    margin-top: 20px;
    margin-bottom: 20px;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin-top: -3px;
	color: #fff;
	background-color:#4B088A;
	border-color: #9370DB;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

#mensagens-erro{
	color: red;
}
